/* Reset default margin and padding */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-image: linear-gradient(to bottom, rgba(255, 195, 110, 0.766), rgb(243, 135, 3));
    color: black;
    text-align: center;
    padding: 10px;
}

form {
    width: 50%;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

nav {
    background-image: linear-gradient(to top, rgba(255, 195, 110, 0.766), rgb(243, 135, 3));
    color: black;
    width: 250px;
    height: 100%;
    position: fixed;
    overflow: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    color: #0077b6; /* Link color on hover */
    font-weight: bold; /* Make the text bold on hover */
}

main {
    margin-left: 260px;
    padding: 20px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form {
    width: 50%;
    margin: 20px auto;
}

nav {
    background-color: #333;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #555;
  }

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    margin-right: 10px;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
