<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SFS Admin Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
	<header>
	</header>
	<div class="container3">
        <button class="backbtn3" onclick="history.back()">Go Back</button>
		<div class="form-section">
			<div class="login-box">
                <div class="texthead3">ADMIN,<br>You need to fix something.</div><br><br>
                Please Enter your details
                <form action="{{ url_for('adminlogin') }}" method="post">
					<input type="Username" id="username" name="username" class="email elea" placeholder="User name"><br><br>
					<input type="password" id="password" name="password" class="password elea" placeholder="password"><br><br>
					<button class="clkbtn" type="submit">Login</button>
				</form>
			</div>
        
		</div>
	</div>
	<script rel="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
	</body>
</html>