<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SFS Agent Signup</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
	<header>
	</header>
    <div class="container2reg">
        <button class="backbtn1" onclick="history.back()">Go Back</button>
        <br><br><br>
        <div class="form-section1">
            <!-- login form -->
            <div class="login-box">
                <div class="texthead1">Where were you 🥲?, Fill Up!</div><br><br>
                Please Enter your details
                <form action="{{ url_for('agentregister') }}" method="post">
                    <input type="text" class="elen" placeholder="Enter your name" id="username" name="username" ><br><br>
                    <input type="email" class="elen" placeholder="youremail@email.com" id="email" name="email"><br><br>
                    <input type="password" class=" elen" placeholder="password" id="password" name="password"><br><br>
                    <input type="password" class=" elen" placeholder="Confirm password" id="cpassword" name="cpassword"><br><br>
                    <button class="clkbtn" type="submit">Signup</button>
                </form>
            </div>
        
        </div>
    </div>
    <script rel="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>