<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFS</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<style media="screen">
    .carousel-cell {
        width: 25%;
        margin-right: 10px;
    }
    .carousel-cell:before {
        display: block;
    }
</style>

<body>

        <!-- 6.salon div  -->
        <div id="salon">
            <h1>Agent Dashboard Bookings</h1>
            <!-- <p>Hygienic & Single use products | Low-contact services</p> -->
            <br>
            <div>
                <div>
                    <a href="{{ url_for('Carbookinglist') }}"><img src="{{ url_for('static', filename='carservicelogo.jpg') }}"
                        alt=""></a>
                    <h5>Car Service BookingHistory</h5>
                    <!-- <p>Up to 50% Off</p> -->
                </div>
                <div>
                    <a href="{{ url_for('grocerylist') }}"><img src="{{ url_for('static', filename='groceryservice.jpg') }}"
                        alt=""></a>
                    <h5>Grocery Service Booking History</h5>
                    <!-- <p>Artists trained by Chandni Singh Studio</p> -->
                </div>
                <div>
                    <a href="{{ url_for('Accomodationlist') }}"><img src="{{ url_for('static', filename='accomodationservice.jpg') }}"
                        alt=""></a>
                    <h5>Accomodation Service Booking History</h5>
                </div>
            </div>
        </div>
    </div>


    <!-- black layer 1 -->
    <div class="overLayer1"></div>
    <!-- login form  -->
    <form action class="loginForm">
        <h1>Log In</h1>
        <span class="del">&times;</span>
        <label for="">User Name:</label>
        <input type="email" id="newEmail" placeholder="Email Id">
        <label for=""> Password:</label>
        <input type="password" id="password" placeholder="Password">
        <button id="sub-log">Log In</button>
        <p>New User? <a class="signup-btn" href="#">Sign Up</a></p>
    </form>

    <!-- sign up  -->

    <!-- black layer 2 -->
    <div class="overLayer2"></div>
    <!-- signup form  -->
    <form action class="signupForm">
        <h1>Sign Up</h1>
        <span class="clr">&times;</span>
        <label for="">User Name:</label>
        <input type="email" id="email" placeholder="Email Id">
        <label for=""> Create Password:</label>
        <input type="password" id="createPass" placeholder="Password">
        <label for=""> Conform Password:</label>
        <input type="password" id="confPass" placeholder="Password">
        <button id="sub-sign">Sign Up</button>
        <p>Already have an account? <a class="login-btn" href="#">Log In</a></p>
    </form>

    <!-- logout 
    <form action="" id="logOutForm">
        <button id="logout">Log Out</button>
    </form> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="login.js"></script>
</body>

</html>