<!--  -->
<!DOCTYPE html>
<html>
<head>
    <title>Agent Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Carbookinglist.css') }}">
</head>

<body>
    <h1>Car Service Bookings</h1>
    
    <table>
        
        <thead>
            <tr>
                <th>Name of the Customer</th>
                <th>Car Model</th>
                <th>Payment Information</th>
                <th>Model Number</th>
                <th>Appointment Date</th>
                <th>Pickup Time</th>
                <th>Drop Time</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
