<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFS</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    
</head>
<style media="screen">
    .carousel-cell {
        width: 25%;
        margin-right: 10px;
    }
    .carousel-cell:before {
        display: block;
    }
</style>

<body>
    <div id="outerdiv">
        <!-- 1. home service div1 -->
        <div id="div1">
            <div id="navigation">
                <img src="logo.png" alt="">
                <nav id="navBar">
                    <a class="login-btn" href="#"><p>Logout</p></a>
                </nav>
            </div>
            <h1>Home services, on demand.</h1>
            <div id="src">
                <select name="" id="">
                </select>
                <input type="text" placeholder="Search for services">
            </div>
            <br>
            <div id="links">
                <a href="">Car Service</a>
                <a href="">Grocery Service</a>
                <a href="">Accomodation Service</a>
            </div>
        </div>
        <div id="div2">
            <!-- 10 div  -->
            <div>
                <a href="{{url_for('Carbooking')}}">
                <img src="{{ url_for('static', filename='carservicelogo.jpg') }}"
                    alt="">
                <span>Car Service</span>
              </a>  
            </div>
            <div>
                <img src="{{ url_for('static', filename='groceryservice.jpg') }}"
                    alt="">
                <span>Grocery Service</span>
            </div>
            <div>
                <img src="{{ url_for('static', filename='accomodationservice.png') }}"
                    alt="">
                <span>Accomodation Service</span>
            </div>


            <!-- product function apply -->
            <div id="product">
                <a href="product.html" target="_blank">
                    <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/growth/home-screen/1609757629780-2b2187.png"
                        alt="">
                        <span>Salon For Men</span>
                </a>
            </div>
            <div>
                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/growth/home-screen/1609757731250-ba3308.png"
                    alt="">
                <span>Men's Therapies</span>
            </div>
            <div>
                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/categories/category_v2/category_72d18950.png"
                    alt="">
                <span>AC/Appliance Repair</span>
            </div>
        </div>
    </div>

    <!--3. special div  -->
    <div id="special">
        <div class="carousel" data-flickity='{"autoplay":true}'>
            <div class="carousel-cell">
                <img class="w3-image"
                    src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_568/t_high_res_template/images/growth/luminosity/1670236808636-f1d72e.jpeg">
            </div>
            <div class="carousel-cell">
                <img class="w3-image"
                    src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_568/t_high_res_template/images/growth/luminosity/1670833924412-eb2825.jpeg"
                    alt="">
            </div>
            <div class="carousel-cell">
                <img class="w3-image"
                    src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_568/t_high_res_template/images/growth/luminosity/1670236804067-9a707d.jpeg"
                    alt="">
            </div>
            <div class="carousel-cell">
                <img class="w3-image"
                    src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_568/t_high_res_template/images/growth/luminosity/1670833903513-3409ad.jpeg"
                    alt="">
            </div>
            <div class="carousel-cell">
                <img class="w3-image"
                    src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_568/t_high_res_template/images/growth/luminosity/1670236785661-0598c2.jpeg"
                    alt="">
            </div>
            <div class="carousel-cell">
                <img class="w3-image"
                    src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_568/t_high_res_template/images/growth/luminosity/1670236836216-f4b990.jpeg"
                    alt="">
            </div>
        </div>
    </div>

    <!-- 4. best offer div  -->
    <div id="bestoffer">
        <h1>Best Offers</h1>
        <p>Hygienic & single-use products | low-contact services</p>
        <br>
        <div>
            <div>
                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/images/growth/home-screen/1615874646690-66ab68.jpeg"
                    alt="">
                <h5>Salon for Men</h5>
                <p>Flat ₹100 off</p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/images/growth/home-screen/1603078782132-dfcd55.jpeg"
                    alt="">
                <h5>Salon Prime</h5>
                <p>Up to 50% Off</p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/images/supply/customer-app-supply/1606211470897-f4afbc.jpeg"
                    alt="">
                <h5>Massage for Men</h5>
                <p>Flat 20% Cashback</p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/images/growth/home-screen/1625159882387-9585c7.jpeg"
                    alt="">
                <h5>Bathroom and Kitchen Cleaning</h5>
                <p></p>
            </div>
        </div>
    </div>
    <!-- 5.appliance div  -->
    <div id="appliance">
        <h1>Appliances</h1>
        <p>Servicing, Repair, Installation & Uninstallation</p>
        <br>
        <div>
            
        </div>
    </div>
    <div>
        <!-- 6.salon div  -->
        <div id="salon">
            <h1>Salon, Spa and Massage services</h1>
            <p>Hygienic & Single use products | Low-contact services</p>
            <br>
            <div>
                <div>
                    <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/images/growth/home-screen/1603078782132-dfcd55.jpeg"
                        alt="">
                    <h5>Salon Prime</h5>
                    <p>Up to 50% Off</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/categories/category_v2/category_9b68f7b0.jpeg"
                        alt="">
                    <h5>Party Makeup</h5>
                    <p>Artists trained by Chandni Singh Studio</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/images/growth/home-screen/1601893536279-77bf02.png"
                        alt="">
                    <h5>Spa for Women</h5>
                    <p>Free head massage</p>
                </div>
            </div>
        </div>
    </div>


    <!-- black layer 1 -->
    <div class="overLayer1"></div>
    <!-- login form  -->
    <form action class="loginForm">
        <h1>Log In</h1>
        <span class="del">&times;</span>
        <label for="">User Name:</label>
        <input type="email" id="newEmail" placeholder="Email Id">
        <label for=""> Password:</label>
        <input type="password" id="password" placeholder="Password">
        <button id="sub-log">Log In</button>
        <p>New User? <a class="signup-btn" href="#">Sign Up</a></p>
    </form>

    <!-- sign up  -->

    <!-- black layer 2 -->
    <div class="overLayer2"></div>
    <!-- signup form  -->
    <form action class="signupForm">
        <h1>Sign Up</h1>
        <span class="clr">&times;</span>
        <label for="">User Name:</label>
        <input type="email" id="email" placeholder="Email Id">
        <label for=""> Create Password:</label>
        <input type="password" id="createPass" placeholder="Password">
        <label for=""> Conform Password:</label>
        <input type="password" id="confPass" placeholder="Password">
        <button id="sub-sign">Sign Up</button>
        <p>Already have an account? <a class="login-btn" href="#">Log In</a></p>
    </form>

    <!-- logout 
    <form action="" id="logOutForm">
        <button id="logout">Log Out</button>
    </form> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="login.js"></script>
</body>

</html>