<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}"> 
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="header">
        <h1>Welcome to Admin Dashboard</h1>
        <img src="{{ url_for('static', filename='user.png') }}" alt="Admin Profile Picture">
    </div>

    <div class="services-container">
        <div class="service">
            <a href="#" id="manage_agent_link">Manage Agent</a>
        </div>
        <div class="service">
            <a href="#" id="manage_customers_link">Manage Customers</a>
        </div>
        <div class="service">
            <a href="#" id="manage_jobs_link">Manage Jobs</a>
        </div>
        <div class="service">
            <a href="#" id="logout_link">Logout</a>
        </div>
    </div>

    <script>
        // Admin link services
        var addCustomersLink = document.getElementById("manage_customers_link");
        function openDialogWindow() {
            
            var dialogFeatures = "width=600,height=400,menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes";
            var dialogWindow = window.open("manage_customers.html", "Manage Customers", dialogFeatures);
        }
        addCustomersLink.addEventListener("click", function (e) {
            e.preventDefault();
            openDialogWindow();
        });
    </script>
</body>
</html>
